{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container home-container">
        <div class="cards-container">
            <article class="home-card">
                <header class="card-header">
                    <hgroup>
                        <h3>Château des Lettres</h3>
                        <p>Apprendre à reconnaître les lettres</p>
                    </hgroup>
                </header>
                <img class="card-img" src="{{ asset('img/letters.png') }}" alt="numbers">
                <footer class="card-footer">
                    <a href="{{ path("letter_game") }}" role="button">Jouer</a>
                </footer>
            </article>
            <article class="home-card">
                <header class="card-header">
                    <hgroup>
                        <h3>Château des Nombres</h3>
                        <p>Apprendre à reconnaître les nombres</p>
                    </hgroup>
                </header>
                <img class="card-img" src="{{ asset('img/numbers.png') }}" alt="letters">
                <footer class="card-footer">
                    <a href="{{ path("number_game") }}" role="button">Jouer</a>
                </footer>
            </article>
            <article class="home-card">
                <header class="card-header">
                    <hgroup>
                        <h3>Mots Flash</h3>
                        <p>Apprendre à reconnaître les mots</p>
                    </hgroup>
                </header>
                <img class="card-img" src="{{ asset('img/flash.png') }}" alt="numbers">
                <footer class="card-footer">
                    <a href="{{ path("flash_words") }}" role="button">Jouer</a>
                </footer>
            </article>
        </div>
    </main>
{% endblock %}
