<!DOCTYPE html>
<html data-theme="auto" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/pico/pico.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="attached-to-top">
            <ul>
                <li><strong>Dida Keys !</strong></li>
                <li><a href="{{ path("home")}}" class="contrast"><i class="material-icons-outlined">home</i></a></li>
            </ul>
            {% if app.request.attributes.get('_route') != 'home' %}
                <ul>
                    <li>
                        <a href="#">Scores</a>
                    </li>
                    <li>
                        <span id="score-counter">0</span>
                    </li>
                    <li>
                        <i id="key-icon" class="material-icons-outlined">key</i>
                    </li>
                </ul>
            {% endif %}
            <ul>
                <li>
                    {% if app.user %}
                        {{ app.user.getUserIdentifier() }}
                    {% endif %}
                </li>
                <li>
                    <a href="{{ path("_logout_main") }}" id="logout-button" class="nav-button contrast">
                        <i class="material-icons-outlined">
                            logout
                        </i>
                    </a>
                <li>
                    <button id="theme-switcher" class="nav-button contrast">
                        <i class="material-icons-outlined">
                            light_mode
                        </i>
                    </button>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <script type="module" src="{{ asset('app/index.js') }}"></script>
    </body>
</html>
