{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container list-container">
        <div class="list-list">
            <h2>Listes de mots</h2>
            {% for list in wordLists %}
                <div class="container list-list-container">
                    <details role="list" class="list-detail">
                        <summary aria-haspopup="listbox">{{ list.getTitle() }}</summary>
                        <ul role="listbox">
                            {% for word in list.getWords() %}
                                <li>{{ word }}</li>
                            {% endfor %}
                        </ul>
                    </details>
                    <div class="list-select">
                        <a role="button" href="{{ path("flash_words_play", {"id": list.getId()}) }}" class="list-select-button material-icons">play_arrow</a>
                        <a role="button" href="{{ path("flash_words_remove", {"id": list.getId()}) }}" class="list-select-button contrast material-icons">delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="new-list">
            <h2>Nouvelle liste de mots</h2>
            <form action="{{ path("flash_words_add") }}" method="post">
                <div class="form-group">
                    <label for="listName">Nom de la liste</label>
                    <input type="text" class="form-control" id="listName" name="title" required>
                    <button type="submit" class="list-submit material-icons">save_alt</button>
                </div>
                <div class="form-group">
                    <h3>Mots de la liste</h3>
                    <input type="text" class="form-control word-input" name="words[]" required>
                    <div class="word-list-buttons-container">
                        <button type="button" id="remove-word" class="word-button contrast outline material-icons">remove</button>
                        <button type="button" id="add-word" class="word-button contrast outline material-icons">add</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
